* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  background: url(img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

.container {
  /* max-width: 1280px; */
  padding: 0 1.5rem;
  margin: 10vh auto;
  display: flex;
}

h1 {
  color: white;
}

#content {
  height: 80vh;
  /* background-color: rgb(224, 183, 183); */
  flex: 6;
  display: flex;
}

.hidden {
  visibility: hidden;
}

#content .tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 0 40px;
}

#content .tabs a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  margin: 25px 0;
  white-space: nowrap;
}

#tabs-content {
  width: 80%;
  height: 80vh;
  margin-right: 20px;
}

/* Checkout */

#checkout {
  background-color: rgba(0, 0, 0, 0.623);
  height: 80vh;
  flex: 2;
  padding: 20px;
}

#price {
  color: #fff;
  font-size: 3rem;
}

#checkout #offer {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  color: white;
  font-size: 3rem;
}

#checkout h2 {
  color: #fff;
  text-align: center;
}

#checkout ul {
  list-style: none;
  margin-top: 70px;
}

#checkout ul li {
  font-size: 1.2rem;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  padding: 7px;
}

#checkout ul li i {
  margin-right: 5px;
}

.btn {
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.623);
  color: #fff;
  padding: 10px 60px;
  border: 2px solid white;
  font-size: 1.4rem;
}

/* Payment */
.wrapper {
  display: none;
}
.payment {
  background-color: #fff;
  max-width: 360px;
  margin: 0 auto;
  height: auto;
  padding: 35px;
  border-radius: 5px;
  position: relative;
}

.payment h3 {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  color: #0d3c61;
  font-size: 3rem;
}

.payment h4 {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #0d3c61;
  font-size: 2rem;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 10px 0px 10px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn-pay {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  background: #161738;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.btn-pay:before,
.btn-pay:after {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  transform: rotate(30deg);
  transition: all ease 1s;
}

.btn-pay:after {
  transition-delay: 0.2s;
}

.btn-pay:hover:before,
.btn-pay:hover:after {
  left: 100%;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #161738;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-size: 25px;
  margin-top: 6px;
}

/* Start video */
#start-container {
  width: 500px;
  height: 500px;
  text-align: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #ffffff;
  opacity: 0.6;
  display: none;
}

#video {
  display: none;
  position: absolute;
  top: 20%;
  height: 50%;
  width: 50%;
  left: 25%;
  z-index: 2;
}

#video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Description */
#description {
  display: flex;
  height: 80vh;
  width: 100%;
  background-color: white;
}

#description__text {
  flex: 1;
  padding: 10px 20px 0 20px;
}

#description__logo {
  width: 50%;
  margin-left: -20%;
}
#description__text h2 {
  text-align: center;
  margin-bottom: 50px;
}

#description__text p {
  color: #000;
  font-size: 1.2rem;
}

#description__text ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#description__text ul li {
  padding: 10px;
  width: 33.3%;
}

#description__text ul li img {
  width: 100%;
}

#reviews,
#features {
  margin-top: 80px;
}

.fa-check-circle {
  color: orange;
}

#description__text ul li {
  font-size: 1.2rem;
}

#description__pic {
  flex: 1;
  position: relative;
}

#description__pic img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Gallery */
#gallery {
  overflow: hidden;
}

#gallery .slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

#gallery .mySlides {
  display: none;
}

#gallery .mySlides img {
  width: 100%;
  height: 100%;
}

#gallery .prev,
#gallery .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#gallery .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#gallery .prev:hover,
#gallery .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#gallery .numbertext {
  color: #fff;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
}

#gallery .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Mission */

#mission {
  background-color: rgba(0, 0, 0, 0.623);
  flex-direction: column;
  height: 80vh;
  padding: 50px;
  display: flex;
}

.oliver {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.oliver .mission__content {
  display: flex;
}

.oliver p {
  color: white;
  font-size: 1.2rem;
  padding: 15px;
}

.oliver img {
  width: 40%;
}

.oliver h2 {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  #video {
    top: 30%;
    left: 20%;
    width: 60%;
    height: 60%;
  }

  .main_content {
    margin-top: 20%;
  }
  #content {
    flex-direction: column;
    height: 100%;
  }
  #content .tabs {
    flex-direction: row;
  }

  #content .tabs a {
    margin: 25px 30px;
  }

  #checkout {
    margin-top: 100px;
  }

  #description {
    height: 60vh;
    width: 640px;
  }

  #description__logo {
    margin-bottom: 40px;
  }

  #gallery {
    margin-top: 30%;
    width: 640px;
  }

  .oliver {
    top: 40%;
  }

  #mission {
    width: 640px;
    margin-top: -30px;
  }

  .mission__content {
    flex-direction: column;
  }
  .mission__content img {
    width: 60%;
    margin: 0 auto;
  }

  .wrapper {
    padding: 0;
    width: 300px !important;
  }
}

@media screen and (max-width: 768px) {
  #description {
    height: 80vh;
  }

  #gallery {
    margin-top: 40%;
  }

  #mission {
    margin-top: 20%;
  }
  #description,
  #gallery,
  #mission {
    max-width: 560px;
  }
}

@media screen and (max-width: 375px) {
  @media screen and (max-height: 667px) {
    #mission {
      margin-top: 200px !important;
      padding: 10px;
    }
  }
  body {
    overflow: auto;
  }
  .main_content {
    flex-direction: column;
  }

  #checkout {
    margin-top: 450px;
  }
  #content .tabs {
    flex-direction: column;
  }

  #content .tabs a {
    margin: 12px;
  }

  #description {
    margin-top: 200px;
    height: 800px;
    flex-direction: column;
    margin-bottom: 40px;
  }

  #mission {
    margin-top: 200px;
    padding: 10px;
  }

  .mission__content img {
    width: 100%;
  }
  #description,
  #gallery,
  #mission {
    max-width: 330px;
  }

  .payment {
    padding: 15px;
  }
}
