* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    background-image:
        url(../img/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.container {
    /* max-width: 1280px; */
    padding: 0 1.5rem;
    margin: 5vh auto;
    display: flex;
}

h1 {
    color: white;
}

#content {
    height: 80vh;
    /* background-color: rgb(224, 183, 183); */
    flex: 6;
    display: flex;
}

#content .tabs {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 0 40px;
}


#content .tabs a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    margin: 25px 0;
    white-space: nowrap;

}

#checkout {
    background-color: rgb(209, 209, 236);
    height: 80vh;
    flex: 2;
}

#tabs-content {
    width: 80%;
    height: 80vh;
    margin-right: 20px;

}


/* Start video */
#start-container {
    width: 500px;
    height: 500px;
    text-align: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #ffffff;
    opacity: 0.6;
    display: none;
}

#video {
    display: none;
    position: absolute;
    top: 20%;
    height: 50%;
    width: 50%;
    left: 25%;
    z-index: 2;
}

#video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Description */
#description {
    display: flex;
    height: 80vh;
    width: 100%;
    border: 2px solid white;
    background-color: white;
    ;
}

#description__text {
    flex: 1;
    padding: 50px 20px 0 20px;
}


#description__text h2 {
    text-align: center;
    margin-bottom: 50px;
}

#description__text p {
    color: #000;
    font-size: 1.2rem;
}

#description__text ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#description__text ul li {
    padding: 10px;
    width: 33.3%
}

#description__text ul li img {
    width: 100%
}

#reviews,
#features {
    margin-top: 110px;
}

.fa-check-circle {
    color: orange;
}

#description__text ul li {
    font-size: 1.2rem;
}

#description__pic {
    flex: 1;
    position: relative;
}

#description__pic img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Gallery */
#gallery {
    overflow: hidden;
}

#gallery .slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

#gallery .mySlides {
    display: none;
}

#gallery .prev,
#gallery .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#gallery .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#gallery .prev:hover,
#gallery .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#gallery .numbertext {
    color: #fff;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

#gallery .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}